{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/skin.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Привет всем из шаблона!</h1>
    </div>
{% endblock %}