{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/skin.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Проект T4</h1>
        <p class="lead">Шаблон типового приложения на Symfony 4</p>
        <div class="row">
            <div class="col-sm-6">
                <h5>Подключены:</h5>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Bootstrap 4</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>FontAwesome 5</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Twig</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>SCSS</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h5>Пример буллетов списка на FA</h5>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Иконки списка</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>могут быть</li>
                    <li><span class="fa-li"><i class="fas fa-spinner fa-pulse"></i></span>заменены буллитами</li>
                    <li><span class="fa-li"><i class="far fa-square"></i></span>с поддержкой FA</li>
                </ul>
            </div>
        </div>
        <div class="fa-3x">
            <i class="fas fa-spinner fa-spin"></i>
            <i class="fas fa-circle-notch fa-spin"></i>
            <i class="fas fa-sync fa-spin"></i>
            <i class="fas fa-cog fa-spin"></i>
            <i class="fas fa-spinner fa-pulse"></i>
        </div>
        <div class="fa-4x">
            <i class="fas fa-magic" data-fa-transform="rotate-90" style="background:MistyRose"></i>
            <i class="fas fa-magic" data-fa-transform="rotate-180" style="background:MistyRose"></i>
            <i class="fas fa-magic" data-fa-transform="rotate-270" style="background:MistyRose"></i>
            <i class="fas fa-magic" data-fa-transform="rotate-30" style="background:MistyRose"></i>
            <i class="fas fa-magic" data-fa-transform="rotate--30" style="background:MistyRose"></i>
            <i class="fas fa-magic" data-fa-transform="flip-v" style="background:MistyRose"></i>
            <i class="fas fa-magic" data-fa-transform="flip-h" style="background:MistyRose"></i>
            <i class="fas fa-magic" data-fa-transform="flip-v flip-h" style="background:MistyRose"></i>
        </div>
    </div>
{% endblock %}