{% extends "base.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <section class="row">
        <div class="col-sm-12">
            <section class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="jumbotron">
                        <h1 class="mb-1">Привет всем!</h1>
                        <p class="lead">Это аннотация раздела...</p>
                        <p>А это подсказка по разделу.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-sm mt-2" href="#" role="button">Подробнее...</a>
                        </p>
                    </div>
                </div>
                <div class="card mb-4 col-lg-8">
                    <div class="card-body">
                        <h3 class="card-title">Карточка</h3>
                        <div class="dropdown card-title-btn-container">
                            <button class="btn btn-sm btn-subtle" type="button"><em class="fa fa-list-ul"></em> Подробнее</button>

                            <button class="btn btn-sm btn-subtle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><em class="fa fa-cog"></em></button>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#"><em class="fa fa-search mr-1"></em> Найти</a>
                                <a class="dropdown-item" href="#"><em class="fa fa-thumb-tack mr-1"></em> Прикнопить</a>
                                <a class="dropdown-item" href="#"><em class="fa fa-remove mr-1"></em> Закрыть</a></div>
                        </div>
                        <h6 class="card-subtitle">персональная</h6>
                        <p class="card-text">И это всё о нём...</p>
                        <a href="#" class="card-link">Подробнее...</a>
                        <a href="#" class="card-link">Ещё подробнее...</a>
                    </div>
                </div>
            </section>
            <section class="row">
                <div class="card mb-4 col-sm-4">
                    <div class="card-body">
                        <h3 class="card-title">Карточка</h3>
                        <div class="dropdown card-title-btn-container">
                            <button class="btn btn-sm btn-subtle" type="button"><em class="fa fa-list-ul"></em> Подробнее</button>

                            <button class="btn btn-sm btn-subtle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><em class="fa fa-cog"></em></button>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#"><em class="fa fa-search mr-1"></em> Найти</a>
                                <a class="dropdown-item" href="#"><em class="fa fa-thumb-tack mr-1"></em> Прикнопить</a>
                                <a class="dropdown-item" href="#"><em class="fa fa-remove mr-1"></em> Закрыть</a></div>
                        </div>
                        <h6 class="card-subtitle">персональная</h6>
                        <p class="card-text">И это всё о нём...</p>
                        <a href="#" class="card-link">Подробнее...</a>
                        <a href="#" class="card-link">Ещё подробнее...</a>
                    </div>
                </div>
                <div class="card mb-4 col-sm-4">
                    <div class="card-header">Личное дело:</div>
                    <div class="card-body">
                        <h3 class="card-title">Карточка</h3>
                        <h6 class="card-subtitle">персональная</h6>
                        <p class="card-text">И это всё о нём...</p>
                        <a href="#" class="card-link">Подробнее...</a>
                        <a href="#" class="card-link">Ещё подробнее...</a>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}